#visual{
    width: 600px;
    height: 300px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vW;
    color: #fff;
    margin: 100px auto;
}